<div class="ui menu header">
  <div class="ui container">
    <div class="item">
      <a [routerLink]="['/contacts']" aria-label="Contacts">
        <i class="icon users large blue"></i>
      </a>
    </div>
    <div class="header item">
      <h1>Contact Manager</h1>
    </div>
  </div>
  <div class="item" *ngIf="auth.isLoggedIn()">
    <button [routerLink]="['/new']" class="ui basic button">
      <i class="add user icon"></i>
      Add Contact
    </button>
  </div>
  <div class="item floated left" *ngIf="!auth.isLoggedIn()">
    <a [routerLink]="['login']">Login</a>
  </div>
  <div class="item floated left" *ngIf="auth.isLoggedIn()">
    <a (click)="auth.logout()" class="ui button">Logout</a>
  </div>
</div>
